MYSQL_ROOT_PASSWORD=ganti-dengan-password-acak
MYSQL_DATABASE=helpdesk

MINIO_ROOT_USER=ganti-dengan-username-acak
MINIO_ROOT_PASSWORD=ganti-dengan-password-acak

JWT_SECRET=ganti-dengan-secret-acak-64-karakter

NEXT_PUBLIC_API_URL=ganti-dengan-url-backend-production

MYSQL_APP_USER=ganti-dengan-username-aplikasi
MYSQL_APP_PASSWORD=ganti-dengan-password-acak